@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* Navbar */
.navbar {
  position: relative;
  background-color: crimson;
  width: 100%;
  padding: 10px 0;
  font-family: "Ubuntu", sans-serif;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}
.navbar .menu li {
  display: inline-block;
  list-style: none;
}
.navbar .menu li a {
  color: #fff;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

/* Home */
.home {
  display: flex;
  background: url(banner.jpg) no-repeat center;
  height: 92vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-size: 60px;
  font-weight: 600;
}
